// =============================================================================
// HELPERS
// =============================================================================

// visually hidden
.visually-hidden {
    // @include visually-hidden();

    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;


    // if the element is focused, it becomes visible
    &--focused {
        &:not(:focus):not(:active) {
            position: absolute;

            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;

            white-space: nowrap;

            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    }
}

// end HELPERS
