// =============================================================================
// TYPOGRAPHY
// =============================================================================

// links
a {
	color: inherit;
	text-decoration: none;
}

// end TYPOGRAPHY





// =============================================================================
// HEADING
// =============================================================================

.heading {
    color: #414042;
    font-size: 26px;
    line-height: 1.11;
    font-family: $font-h;
    text-transform: uppercase;
    padding-top: 10px;

    @media (min-width: $bp-sm) {
        padding-top: 24px;
        font-size: 45px;
    }


    // decor
    &--decor {
        position: relative;
        padding-left: 34px;

        @media (min-width: $bp-sm) {
            padding-left: 0;
        }


        &:before {
            content: '';
            display: block;
            width: 25px;
            height: 34px;
            background: url('../images/heading-decor.svg') no-repeat 0 0 / cover;
            position: absolute;
            left: 0;
            top: 0;

            @media (min-width: $bp-sm) {
                width: 40px;
                height: 52px;
                margin-right: 22px;
                right: 100%;
                left: auto;
            }
        }
    }
}

// heading destroy decor
@mixin headingDestroyDecor() {
    &:before {
        content: none;
    }
}

// end HEADING





// =============================================================================
// LINK
// =============================================================================

.link {
    color: #439c92;
    font-family: $font-h;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    background-image: linear-gradient(#439c92, #439c92);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 1px;
    background-position: 0 1.45em;
    transition: color .1s;

    // hover
    &:hover {
        color: lighten(#439c92, 5%);
    }


    // has arrow
    &--arrow {
        position: relative;
        padding-right: 32px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            right: 0;

            width: 21px;
            height: 8px;
            background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgMjEgOCI+PHBhdGggZD0iTTE3LjQ5IDcuNDJMMTggOGwzLTMuNzF2LS41OEwxOCAwbC0uNDkuNTggMi4zNyAzSDB2LjgyaDE5Ljg4eiIgZmlsbD0iIzQ3OWU5NSIvPjwvc3ZnPg==') 0 0 no-repeat/contain;
        }

        // hover
        &:hover {
            will-change: transform;

            &:after {
                animation: fadeInLeft .5s .1s;
            }
        }
    }
}

@include fadeInLeft();

// end LINK