// =============================================================================
// MIXIN EXPANDED AREA
// =============================================================================

@mixin expanded-area($pseudo-element: after) {
    position: relative;

    &:#{$pseudo-element} {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
    }
}

// end MIXIN EXPANDED AREA
