// =============================================================================
// MIXIN FONT FACE
// =============================================================================

@mixin font-face($font-name, $font-style, $font-weight, $filename, $path, $font-display: swap) {
    @font-face {
        font-family: '#{$font-name}';
        font-style: $font-style;
        font-weight: $font-weight;

        @if $font-display {
            font-display: $font-display;
        }

        src: local('#{$font-name}'),
            url('#{unquote($path)}#{$filename}.woff2') format('woff2'),
            url('#{unquote($path)}#{$filename}.woff') format('woff');

        unicode-range:
            U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, // latin
            U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, // latin-ext

            // U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, // cyrillic
            // U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F, // cyrillic ext
    }
}

// end MIXIN FONT FACE
