<!-- FOOTER -->
<footer class="footer">
    <div class="footer__box">

        <!-- Copyright -->
        <p class="copyright">
            <span class="copyright__d">© 2016 Standard development, All rigths reserved.</span>
            <span class="copyright__m">© Standard Development, 2016</span>
        </p>
        <!-- end Copyright -->


        {% include "layout/_social.html" %}


        <!-- Developed -->
        <div class="developed">
            <a class="otakoyi-logo" href="#" target="_blank" rel="nofollow noopener noreferrer">
                <img src="images/otakoyi-logo.png" alt="otakoyi logo">
            </a>
        </div>
        <!-- end Developed -->

    </div>
</footer>
<!-- end FOOTER -->
