<!-- HEADER -->
<header class="header">
    <div class="header__box">

        <!-- Logo -->
        <div class="header__logo">
            <a class="logo" href="#">
                <img class="logo__img" src="images/udg-logo.png" alt="UDG logo">
                <span class="logo__title">
                    <span class="logo__txt">Urban</span>
                    <span class="logo__txt">Development</span>
                    <span class="logo__txt">Group</span>
                </span>
            </a>
        </div>
        <!-- end Logo -->



        <!-- Navigation -->
        <div class="header__navigation">


            {% include "layout/_menu.html" %}


            <!-- Language -->
            <div class="language">
                <a class="language__link" href="#">
                    <span>En</span>
                </a>
            </div>
            <!-- end Language -->


            <!-- Search btn -->
            <div class="search-btn">
                <button class="search-btn__btn btn-clean search-hidden" id="searchBtn">
                    <span class="search-btn__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M13.87 13.24l-3.62-3.56a5.72 5.72 0 0 0 1.53-3.88A5.84 5.84 0 0 0 5.89 0 5.84 5.84 0 0 0 0 5.8a5.84 5.84 0 0 0 5.89 5.8 5.92 5.92 0 0 0 3.71-1.3l3.63 3.57a.46.46 0 0 0 .64 0 .44.44 0 0 0 0-.63zm-8-2.54a4.94 4.94 0 0 1-5-4.9 4.94 4.94 0 0 1 5-4.9 4.94 4.94 0 0 1 5 4.9 4.94 4.94 0 0 1-4.98 4.9z" fill="#bfd730"/></svg>
                        <span class="visually-hidden">Search</span>
                    </span>
                </button>
            </div>
            <!-- end Search btn -->


            <!-- Menu btn -->
            <div class="menu-btn">
                <button class="hamburger menu-close" id="navBtn">
                    <span class="hamburger__box">
                        <span class="hamburger__inner"></span>
                    </span>

                    <span class="visually-hidden">Menu</span>
                </button>
            </div>
            <!-- end Menu btn -->


            <!-- Search -->
            <div class="search search-hidden" id="search">
                <form class="search__form" role="search">
                    <input class="search__input" id="searchInput" type="search" placeholder="What you are looking for?" tabindex="-1">

                    <button class="search__close btn-clean" id="searchClose" type="button" tabindex="-1">
                        <span class="search__close-i">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                               <line x1="100%" y1="0" x2="0" y2="100%" stroke="#bfd730" stroke-width="2" />
                               <line x1="0" y1="0" x2="100%" y2="100%" stroke="#fff" stroke-width="2" />
                            </svg>
                        </span>

                        <span class="visually-hidden">Close search</span>
                    </button>
                </form>
            </div>
            <!-- end Search -->

        </div>
        <!-- end Navigation -->

    </div>
</header>
<!-- end HEADER -->
