<!-- Inline scripts -->
<script>

    // Rellax init
    var rellax = new Rellax('.rellax', {
        speed: -1,
        center: false,
        round: true,
        vertical: true,
        horizontal: false
    });

    // Swiper init
    var slides = new Swiper ('.slides-container', {

        // disable preloading of all images
        preloadImages: false,
        // enable lazy loading
        lazy: {
            loadOnTransitionStart: true,
        },

        // optional parameters
        loop: true,
        speed: 900,
        effect: 'fade',
        slideActiveClass: 'swiper-slide-active active',


        // autoplay
        autoplay: {
            delay: 8000,
        },

        // pagination
        pagination: {
            el: '.swiper-pagination',
            type: 'custom',
            renderCustom: function (slides, current, total) {
                return '<span class="current">' + current + '</span>' + ' of ' + '<span class="total">' + total  + '</span>';
            },
        },

        // navigation buttons
        navigation: {
            nextEl: '.js-slide-next',
            prevEl: '.js-slide-prev',
        },
    })

    // Lozad init
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
</script>