<!-- Menu -->
<nav class="menu menu-close" id="navMenu">

    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link menu__link--active" href="#">Home</a>
        </li>

        <li class="menu__item">
            <a class="menu__link" href="#">About us</a>
        </li>

        <li class="menu__item">
            <a class="menu__link" href="#">Project</a>
        </li>

        <li class="menu__item">
            <a class="menu__link" href="#">Clients</a>
        </li>

        <li class="menu__item">
            <a class="menu__link" href="#">Partners</a>
        </li>

        <li class="menu__item">
            <a class="menu__link" href="#">News</a>
        </li>

        <li class="menu__item menu__item--xs">
            <a class="menu__link" href="#">Contact</a>
        </li>
    </ul>

</nav>
<!-- end Menu -->
