<!-- Social -->
<ul class="social">

    <!-- Facebook -->
    <li class="social__item">
        <a href="#" class="social__link" target="_blank" rel="nofollow noopener noreferrer">
            <img class="social__icon" src="images/social-icon/facebook.svg" alt="facebook icon">
            <span class="visually-hidden">Facebook link</span>
        </a>
    </li>

    <!-- Twitter -->
    <li class="social__item">
        <a href="#" class="social__link" target="_blank" rel="nofollow noopener noreferrer">
            <img class="social__icon" src="images/social-icon/twitter.svg" alt="twitter icon">
            <span class="visually-hidden">Twitter link</span>
        </a>
    </li>

    <!-- VK -->
    <li class="social__item">
        <a href="#" class="social__link" target="_blank" rel="nofollow noopener noreferrer">
            <img class="social__icon" src="images/social-icon/vk.svg" alt="vk icon">
            <span class="visually-hidden">VK link</span>
        </a>
    </li>
</ul>
<!-- end Social -->
