<!-- SECTION PROJECTS -->
<section class="section section-projects">
    <div class="container">
        <div class="row">

            <!-- HEAD COL -->
            <div class="section-projects__head col-xs-12 col-sm-5 col-lg-4">
                <h2 class="heading heading--decor">Our projects</h2>
                <a class="link link--arrow" href="#">See portfolio</a>
            </div>
            <!-- end HEAD COL -->


            <!-- GALLERY COL -->
            <div class="section-projects__gallery col-xs-12 col-lg-8">

                <!-- Projects list -->
                <div class="projects-list">

                    <div class="projects-list__item">
                        <div class="project-box">
                            <div class="project-box__image lozad" data-background-image="images/projects/project-1.jpg"></div>

                            <div class="project-box__info">
                                <h3 class="project-box__title">
                                    <span class="project-box__title-txt">Hostel for students of KPI</span>
                                </h3>

                                <p class="project-box__description">Business was founded as a number of privately-held companies...</p>

                                <div class="project-box__button">
                                    <a class="btn" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="projects-list__item">
                        <div class="project-box">
                            <div class="project-box__image lozad" data-background-image="images/projects/project-2.jpg"></div>

                            <div class="project-box__info">
                                <h3 class="project-box__title">
                                    <span class="project-box__title-txt">House clubs «Nagornyi»</span>
                                </h3>

                                <p class="project-box__description">Business was founded as a number of privately-held companies...</p>

                                <div class="project-box__button">
                                    <a class="btn" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="projects-list__item">
                        <div class="project-box">
                            <div class="project-box__image lozad" data-background-image="images/projects/project-3.jpg"></div>

                            <div class="project-box__info">
                                <h3 class="project-box__title">
                                    <span class="project-box__title-txt">Residential complex «CAMPUS»</span>
                                </h3>

                                <p class="project-box__description">Business was founded as a number of privately-held companies...</p>

                                <div class="project-box__button">
                                    <a class="btn" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="projects-list__item">
                        <div class="project-box">
                            <div class="project-box__image lozad" data-background-image="images/projects/project-4.jpg"></div>

                            <div class="project-box__info">
                                <h3 class="project-box__title">
                                    <span class="project-box__title-txt">Hostel for students of KPI</span>
                                </h3>

                                <p class="project-box__description">Business was founded as a number of privately-held companies...</p>

                                <div class="project-box__button">
                                    <a class="btn" href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end Projects list -->

            </div>
            <!-- end GALLERY COL -->

        </div>
    </div>
</section>
<!-- end SECTION PROJECTS -->
