<!-- SECTION SLIDER -->
<section class="section section-slider">

    <!-- Slides container -->
    <div class="swiper-container slides-container">

        <!-- Slides list -->
        <div class="swiper-wrapper slides-list">

            {% for i in range(1, 5) -%}
                <div class="swiper-slide slides-list__item slide-box">

                    <!-- image -->
                    <div class="slide-box__img rellax swiper-lazy" data-background="images/slides/slide-{{i}}.jpg" style="" data-rellax-speed="-9"></div>

                    <!-- container -->
                    <div class="slide-box__container container">

                        <!-- description -->
                        <div class="slide-box__description">

                            <!-- navigation -->
                            <div class="slide-box__nav">
                                <div class="slide-nav">
                                    <span class="js-slide-prev slide-nav__btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8"><path fill="#fff" d="M3.51.58L3 0 0 3.71v.58L3 8l.49-.58-2.37-3H21V3.6H1.12z"/></svg>
                                    </span>

                                    <span class="swiper-pagination slide-nav__pgn"></span>

                                    <span class="js-slide-next slide-nav__btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="8" viewBox="0 0 21 8"><path fill="#fff" d="M17.49 7.42L18 8l3-3.71v-.58L18 0l-.49.58 2.37 3H0v.82h19.88z"/></svg>
                                    </span>
                                </div>
                            </div>

                            <!-- title -->
                            <h2 class="slide-box__title">Hostel for students of KPI</h2>
                        </div>

                        <!-- decoration -->
                        <div class="slide-box__decor">
                            {% for j in range(1, 8) -%}
                                <span class="s s--{{j}} rellax"></span>
                            {%- endfor %}
                        </div>

                    </div>
                </div>
            {%- endfor %}

        </div>

        <!-- Mouse icon -->
        <div class="slides-container__mouse"></div>

    </div>
    <!-- end Slides container -->

</section>
<!-- end SECTION SLIDER -->
