<!-- SECTION CONTACT US -->
<section class="section section-contact-us">
    <div class="container">
        <div class="row">

            <!-- CONTACTS COL -->
            <div class="section-contact-us__contacts col-xs-12 col-sm-9 col-lg-6">

                <h2 class="heading heading--decor">Contact us</h2>

                <!-- Contacts -->
                <div class="contacts">
                    <div class="contacts__box contacts__box--address">
                        <span>5, Klovskiy Uzviz Street</span>
                        <span>01021 Kiev, Ukraine</span>
                    </div>

                    <div class="contacts__box contacts__box--phone">
                        <strong>(044) 220 19 50</strong>
                        <strong>(044) 220 56 72</strong>
                    </div>

                    <div class="contacts__box contacts__box--email">
                        <a href="mailto:info@udg.com.ua">info@udg.com.ua</a>
                    </div>
                </div>
                <!-- end Contacts -->

            </div>
            <!-- end CONTACTS COL -->



            <!-- FORM COL -->
            <div class="section-contact-us__form col-xs-12 col-sm-10 col-lg-6">

                <h2 class="heading heading--decor">Write us</h2>

                <!-- Contact form -->
                <form class="contact-form">
                    <div class="contact-form__col contact-form__col--half frm-group">
                        <label class="frm-group__label label" for="contactName">Your name</label>
                        <input class="frm-group__input input" id="contactName" type="text">
                    </div>

                    <div class="contact-form__col contact-form__col--half frm-group">
                        <label class="frm-group__label label" for="contactEmail">Email</label>
                        <input class="frm-group__input input" id="contactEmail" type="text">
                    </div>

                    <div class="contact-form__col frm-group">
                        <label class="frm-group__label label" for="contactMessage">Message</label>
                        <textarea class="frm-group__input input" id="contactMessage"></textarea>
                    </div>

                    <div class="contact-form__btn">
                        <button class="btn btn--lg">Send message</button>
                    </div>
                </form>
                <!-- end Contact form -->

            </div>
            <!-- end FORM COL -->

        </div>
    </div>
</section>
<!-- end SECTION CONTACT US -->