// =============================================================================
// FORM GROUP
// =============================================================================

.frm-group {
    position: relative;
    max-width: 100%;
    padding-top: 12px;
    line-height: 0;

    // label
    &__label {
        position: absolute;
        top: 24px;
        left: 0;
        transform-origin: left;
        transition: transform .2s;
        will-change: transform;
    }

    // input
    &__input {
        position: relative;
    }


    // input filled
    &--filled {
        .frm-group__label {
            transform: translateY(-21px) scale(.7);

            @media (min-width: $bp-sm) {
                transform: translateY(-27px) scale(.7);
            }
        }
    }
}

// end FORM GROUP


// =============================================================================
// INPUT
// =============================================================================

.input {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 32px;
    min-height: 32px;
    max-height: 200px; // textarea
    padding: 5px 0 5px;
    background: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    box-shadow: 0 1px #989b9c;

    color: #414042;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.2;
    font-family: $font;

    transition: box-shadow .5s, background-color .5s;
    appearance: none;

    // focus
    &:focus {
        box-shadow: 0 2px #439c92;
    }

    // active
    &:active {
        background-color: rgba(#000, .02);
    }

    // disabled
    &[disabled] {
        opacity: .1;
    }
}

// end INPUT



// =============================================================================
// LABEL
// =============================================================================

.label {
    display: inline-block;
    color: #989b9c;
    font-size: 14px;
    line-height: 1;
    font-family: $font;
    text-transform: uppercase;
}

// end LABEL
