// =============================================================================
// FONTS
// =============================================================================

$font-acrom: 'Acrom';
$font-roboto: 'Roboto';

$font: $font-roboto, sans-serif;
$font-h: $font-acrom, sans-serif;

// end FONTS





// =============================================================================
// MEDIA QUERIES BREAKPOINTS
// =============================================================================

// desktop (min)
$bp-lg: 1024px;

// laptop (min)
$bp-sm: 750px;

// tablet (min)
$bp-tb: 480px;

// mobile (min)
$bp-xs: 320px;


// container padding
$container-padding-lg: 30px;
$container-padding-xs: 15px;

// end MEDIA QUERIES BREAKPOINTS





// =============================================================================
// Z-INDEX
// =============================================================================

$z-index: (
	header: 100,
	// main: 70,
	// footer: 50,
    // modal: 500,
	// nav: 400,
);

@function z-index($key) {
    @return map-get($z-index, $key);
}

// end Z-INDEX





// =============================================================================
// COLOR
// =============================================================================

$theme-color: (
    dark: #414042,
);

@function color($color) {
	$get-color: map-get($theme-color, $color);
	@return $get-color;
}

$base-body-color: color(dark);

// end COLOR
