// =============================================================================
// CONTACT FORM
// =============================================================================

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    // col
    &__col {
        flex-basis: 100%;
        margin-bottom: 7px;

        @media (min-width: $bp-sm) {
            margin-bottom: 42px;
        }

        // half col
        &--half {
            @media (min-width: $bp-sm) {
                flex-basis: calc(50% - 18px);
            }
        }
    }


    // button col
    &__btn {
        flex-basis: 100%;
        margin-top: 14px;

        @media (min-width: $bp-sm) {
            margin-top: 24px;
        }

        // button
        .btn {
            @media (max-width: $bp-sm - 1) {
                width: 100%;
            }
        }
    }
}

// end CONTACT FORM
