// =============================================================================
// FOOTER
// =============================================================================

.footer {
    background-color: #333;
    min-height: 53px;

    @media (min-width: $bp-sm) {
        background-color: #414042;
        padding: 16px $container-padding-xs 16px;
    }

    @media (min-width: $bp-lg) {
        padding-left: 25px;
        padding-right: 20px;
    }


    // box
    &__box {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        z-index: 3;

        @media (min-width: $bp-sm) {
            background-color: #414042;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }
    }


    // copyright
    .copyright {
        @media (max-width: $bp-sm - 1) {
            background-color: #439c92;
            padding: 20px $container-padding-xs;
        }

        @media (min-width: $bp-sm) {
            flex-basis: 50%;
            padding-right: 15%;
        }
    }

    // social
    .social {
        @media (max-width: $bp-sm - 1) {
            background-color: #fff;
            padding: 25px $container-padding-xs 17px;
            padding-left: $container-padding-xs + 6; // fix center
        }

        @media (min-width: $bp-sm) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) translateZ(0);
        }
    }

    // developed
    .developed {
        @media (max-width: $bp-sm - 1) {
            padding: 20px $container-padding-xs 16px;
        }

        @media (min-width: $bp-sm) {
            flex-basis: 50%;
            padding-left: 15%;
            text-align: right;
        }
    }
}

// end FOOTER





// =============================================================================
// COPYRIGHT
// =============================================================================

.copyright {
    color: rgba(#fff, .7);
    font-size: 14px;
    line-height: 1;

    // desktop
    &__d {
        display: none;

        @media (min-width: $bp-lg) {
            display: inline-block;
        }
    }

    // mobile
    &__m {
        @media (min-width: $bp-lg) {
            display: none;
        }
    }
}

// end COPYRIGHT
