// =============================================================================
// GLOBAL LAYOUT
// =============================================================================

html {
    color: $base-body-color;
    font-size: 100%; // default 16px
    font-family: $font;
}

body {
    min-width: 320px;
}



// wrapper
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    // header
    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: z-index(header);
    }

    // main
    .main {
        flex: 1 0 auto;
    }

    // footer
    .footer {

    }
}

// end GLOBAL LAYOUT
