// =============================================================================
// HAMBURGER (https://github.com/jonsuh/hamburgers)
// =============================================================================

.hamburger {

    // Settings
    $hamburger-layer-width: 20px !default;
    $hamburger-layer-height: 2px !default;
    $hamburger-layer-spacing: 4px !default;
    $hamburger-layer-color: #fff !default;
    $hamburger-layer-border-radius: 0 !default;
    $hamburger-hover-transition-duration: .15s !default;
    $hamburger-hover-transition-timing-function: linear !default;


    // Base style
    & {
        padding: 0;
        display: inline-block;
        cursor: pointer;

        transition-property: opacity, filter;
        transition-duration: $hamburger-hover-transition-duration;
        transition-timing-function: $hamburger-hover-transition-timing-function;

        // Normalize (<button>)
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible;
        line-height: 0;

        @include expanded-area();
    }

    // box
    &__box {
        position: relative;
        display: inline-block;
        width: $hamburger-layer-width;
        height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    }

    // inner
    &__inner {
        top: 50%;
        display: block;
        margin-top: $hamburger-layer-height / -2;

        &, &:before, &:after {
            position: absolute;
            width: $hamburger-layer-width;
            height: $hamburger-layer-height;
            background-color: $hamburger-layer-color;
            border-radius: $hamburger-layer-border-radius;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
        }

        &:before, &:after {
            content: '';
            display: block;
            background-color: #bfd730;
        }

        &:before {
            top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
        }

        &:after {
            bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
        }
    }



    // Squeeze type
    &__inner {
        transition-timing-function: cubic-bezier(.55, .055, .675, .19);
        transition-duration: .075s;

        &::before {
            transition: top .075s .12s ease,
            opacity .075s ease;
        }

        &::after {
            transition: bottom .075s .12s ease,
            transform .075s cubic-bezier(.55, .055, .675, .19);
        }
    }



    // Close style
    &:not(.menu-close) {
        .hamburger__inner {
            transform: rotate(45deg);
            transition-delay: .12s;
            transition-timing-function: cubic-bezier(.215, .61, .355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top .075s ease,
                opacity .075s .12s ease;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom .075s ease,
                transform .075s .12s cubic-bezier(.215, .61, .355, 1);
            }
        }
    }
}

// end HAMBURGER