// =============================================================================
// HEADER
// =============================================================================

.header {
    background: transparent;
    padding-left: $container-padding-xs;
    padding-right: $container-padding-xs;

    @media (min-width: $bp-lg) {
        padding-left: $container-padding-lg;
        padding-right: ($container-padding-lg + 6);
    }


    // box
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 9px;
        border-bottom: 1px solid rgba(#fff, .5);
        transition: border-color .3s;

        @media (min-width: $bp-lg) {
            border-bottom: none;
            padding-top: 20px;
        }
    }


    // logo
    &__logo {
        margin-right: 15px;

        @media (min-width: $bp-sm) {
            margin-right: 30px;
        }
    }


    // navigation
    &__navigation {
        display: flex;
        align-items: center;

        @media (min-width: $bp-sm) {
            align-items: baseline;
        }

        @media (min-width: $bp-lg) {
            padding-top: 2px;
        }


        // menu
        .menu {

        }

        // language
        .language {
            @media (min-width: $bp-sm) {
                margin-left: 24px;
            }

            @media (min-width: $bp-lg) {
                margin-left: 40px;
            }
        }

        // search btn
        .search-btn {
            align-self: center;
            margin-left: 15px;

            @media (max-width: $bp-sm - 1) {
                padding-right: 10px;

                &:after {
                    content: '';
                    display: block;
                    background-color: rgba(#fff, .5);
                    height: 14px;
                    width: 1px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            @media (max-width: $bp-lg - 1) {
                position: relative;
                padding-left: 10px;

                @media (min-width: $bp-sm) {
                    margin-right: -5px;
                }

                &:before {
                    content: '';
                    display: block;
                    background-color: rgba(#fff, .5);
                    height: 14px;
                    width: 1px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            @media (min-width: $bp-lg) {
                margin-left: 22px;
            }
        }

        // menu btn
        .menu-btn {
            @media (max-width: $bp-sm - 1) {
                margin-left: 15px;
                line-height: 0;
            }

            @media (min-width: $bp-sm) {
                display: none;
            }
        }
    }
}

// end HEADER





// =============================================================================
// LOGO
// =============================================================================

.logo {
    display: inline-flex;
    align-items: center;
    position: relative;

    // image
    &__img {
        width: 50px;
        margin-right: 13px;
        margin-bottom: 2px;

        @media (min-width: $bp-lg) {
            width: auto;
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    // title
    &__title {
        display: inline-flex;
        flex-direction: column;
        color: #fff;
        font-size: 10px;
        line-height: 1.24;
        text-transform: uppercase;
        overflow: hidden;
        will-change: transform;

        @media (min-width: $bp-lg) {
            position: absolute;
            top: 100%;
            padding-top: 3px;
            padding-left: 30px;
            font-size: 13px;
        }
    }

    // text
    &__txt {
        animation: fadeInLeft 1s;
        animation-fill-mode: both;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.3 * 1s;
            }
        }

        @media (min-width: $bp-lg) {
            transition: padding-left .3s;
        }
    }


    // hover
    &:hover {
        .logo__txt {
            transition-duration: .5s;

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    padding-left: $i * 5 * 1px;
                }
            }
        }
    }
}

@include fadeInLeft();

// end LOGO

