// =============================================================================
// LANGUAGE
// =============================================================================

.language {

    // link
    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        padding: 5px;
        border: 1px solid #bfd730;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        transition: background-color .4s;

        @media (min-width: $bp-lg) {
            width: 32px;
            height: 32px;
            font-size: 17px;
            text-transform: lowercase;
        }


        // hover
        &:hover {

        }

        // focus
        &:focus {

        }

        // active
        &:active {
            background-color: #bfd730;
        }
    }
}

// end LANGUAGE
