// =============================================================================
// MENU
// =============================================================================

.menu {
    @media (max-width: $bp-sm - 1) {
        // display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        padding-top: 56px;
        overflow: auto;
        background: #54827b radial-gradient(rgba(#000, .12) 2px, transparent 0);
        background-size: 37px 37px;
        transform: translateX(0) translateZ(0);


        // open
        &.menu-open {
            transition: transform .7s cubic-bezier(.68, -.55, .27, 1.55);
        }

        // close
        &.menu-close {
            transform: translateX(100%) translateZ(0);
        }
    }



    // list
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
        margin-bottom: 48px;

        @media (min-width: $bp-sm) {
            flex-direction: row;
            align-items: baseline;
            margin-top: 0;
            margin-bottom: 0;
        }
    }



    // item
    &__item {
        @media (max-width: $bp-sm - 1) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        @media (min-width: $bp-sm) {
            &:not(:first-child) {
                margin-left: 24px;
            }
        }

        @media (min-width: $bp-lg) {
            &:not(:first-child) {
                margin-left: 44px;
            }
        }

        // item only visible mobile
        &--xs {
            @media (min-width: $bp-sm) {
                display: none;
            }
        }
    }



    // link
    &__link {
        display: inline-block;
        color: #fff;
        font-size: 20px;
        line-height: 1.5;
        transition: color .2s;

        @media (max-width: $bp-sm - 1) {
            @include expanded-area();

            font-weight: 600;
            font-family: $font-h;
            text-transform: uppercase;
        }

        @media (min-width: $bp-sm) {
            color: #ecf0e8;
            font-size: 17px;
        }


        // hover
        &:hover {
            color: #bed62f;
        }

        // focus
        &:focus {

        }

        // active
        &:active {

        }


        // active page link
        &--active {
            @media (max-width: $bp-sm - 1) {
                color: #bfd730;
            }

            @media (min-width: $bp-sm) {
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #bed62f;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    pointer-events: none;
                }
            }
        }
    }
}


// scroll lock
html.scroll-lock {
    overflow: hidden;
}

// end MENU