// =============================================================================
// PROJECTS LIST
// =============================================================================

// list
.projects-list {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $bp-tb) {
        margin-right: -10px;
        margin-left: -10px;
    }

    @media (min-width: $bp-lg) {
        margin-right: -15px;
        margin-left: -15px;
    }


    // item
    &__item {
        flex: 1 0 100%;
        margin-bottom: 30px;

        @media (min-width: $bp-tb) {
            flex-basis: 50%;
            padding-right: 10px;
            padding-left: 10px;
            margin-bottom: 20px;
        }

        @media (min-width: $bp-lg) {
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 30px;

            background-color: #eee;
            background-clip: content-box;

            // .project-box {
            //     animation: fadeIn .8s;
            //     animation-fill-mode: backwards;
            // }

            // @for $i from 1 through 4 {
            //     &:nth-child(#{$i}) {
            //         .project-box {
            //             animation-delay: $i * 0.2 * 1s;
            //         }
            //     }
            // }
        }
    }
}



// box
.project-box {
    position: relative;
    background-color: #8dc63f;
    will-change: transform;
    z-index: 10;

    @media (max-width: $bp-sm - 1) {
        box-shadow: 0 3px 37px rgba(#000, .5);
    }

    @media (min-width: $bp-lg) {
        transition: box-shadow .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }


    // image
    &__image {
        padding-top: 127%;
        background: no-repeat 50% 50% / cover;

        &[data-loaded] {
            animation: fadeIn .8s;
            animation-fill-mode: backwards;
        }

        @media (min-width: $bp-tb) {
            padding-top: 100%;
        }

        @media (min-width: $bp-lg) {
            transition: transform .3s;
        }


        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(#414042, .5);

            @media (min-width: $bp-lg) {
                transition: background-color .3s;
            }
        }
    }


    // info
    &__info {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;

        @media (min-width: $bp-sm) {
            top: 82px;
            padding: 35px;
            padding-right: 20px;
        }

        @media (min-width: $bp-lg) {
            top: 55px;
            transition: transform .3s;
        }

        @media (min-width: 1200px) {
            top: 82px;
        }
    }


    // title
    &__title {
        margin-bottom: 23px;
        color: #fff;
        font-size: 20px;
        line-height: 1.3;
        font-family: $font-h;
        text-transform: uppercase;
        padding-right: 5%;

        @media (min-width: $bp-tb) {
            padding-right: 0;
        }

        @media (min-width: $bp-sm) {
            font-size: 28px;
            line-height: 1.14;
            margin-bottom: 33px;
        }

        @media (min-width: $bp-lg) {
            margin-bottom: 20px;
        }


        // text
        &-txt {
            @media (min-width: $bp-lg) {
                background-image: linear-gradient(#7dbe1f, #7dbe1f);
                background-repeat: no-repeat;
                background-size: 100% 1px;
                background-position: 0 120%;
                transition: background-position .2s;
            }
        }
    }


    // description
    &__description {
        display: none;

        @media (min-width: $bp-lg) {
            display: block;
            color: #fff;
            font-size: 18px;
            line-height: 1.33;
            overflow: hidden;
            transition: opacity .3s, transform .5s;
            transform: translateY(50%);
            opacity: 0;
            max-height: 0;
        }
    }


    // button
    &__button {
        @media (min-width: $bp-lg) {
            transition: transform .2s;
            transform: translateY(13px);
        }

        .btn {
            box-shadow: inset 0 0 1px 1px #439c92;
            transition: background-color .2s;
        }
    }



    // hover effect
    &:hover {
        @media (min-width: $bp-lg) {
            box-shadow: 0 5px 50px #000;
            transition-duration: .5s;

            // image
            .project-box__image {
                transform: scale(1.05) translateZ(0);
                transition-duration: .5s;
                transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);

                &:before {
                    background-color: rgba(#0f5b58, .8);
                    transition-duration: .5s;
                }
            }

            // info
            .project-box__info {
                transform: translateY(-48px) translateZ(0);
            }

            // title
            .project-box__title {
                &-txt {
                    background-position: 0 1.3em;
                    transition-delay: .1s;
                }
            }

            // description
            .project-box__description {
                transform: translateY(0);
                opacity: 1;
                max-height: 4em;
                transition: opacity .5s, transform .3s;
            }

            // button
            .project-box__button {
                transform: translateY(65px);
                margin-top: -30px;

                .btn {
                    background-color: transparent;
                    transition-duration: .5s;

                    &:hover {
                        background-color: #439c92;
                        transition-duration: .2s;
                    }
                }
            }
        }
    }
}

// end PROJECTS LIST
