// =============================================================================
// SEARCH BTN
// =============================================================================

.search-btn {

    // icon
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;

        svg {
            transition: transform .2s;
            overflow: visible;

            @media (min-width: $bp-lg) {
                width: 15px;
                height: 15px;
            }
        }

        path {
            // transition: fill .3s;
        }
    }

    // button
    &__btn {
        display: block;
        width: 25px;
        height: 25px;
        position: relative;
        cursor: pointer;

        @media (min-width: $bp-lg) {
            width: 32px;
            height: 32px;
        }


        // hover
        &:hover {
            .search-btn__icon path {
                fill: #fff;
            }
        }

        // focus
        &:focus {
            .search-btn__icon svg {
                transform: scale(1.2);
            }
        }

        // active
        &:active {
            .search-btn__icon svg {
                transform: scale(1.2);
            }
        }

        // hidden
        &:not(.search-hidden) {
            .search-btn__icon {
                svg {
                    transform: rotate(90deg);
                }

                path {
                    fill: #fff;
                }
            }
        }
    }
}

// end SEARCH BTN




// =============================================================================
// SEARCH
// =============================================================================

.search {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    will-change: transform;

    @media (min-width: $bp-sm) {
        width: 350px;
        margin-top: 20px;
    }

    @media (min-width: $bp-lg) {
        margin-top: 5px;
    }


    // form
    &__form {
        position: relative;
    }

    // input
    &__input {
        width: 100%;
        height: 44px;
        padding: 5px 15px;
        padding-right: 60px;
        border: none;
        outline: none;
        border-radius: 0;
        background-color: rgba(#fff, .3);
        font-family: $font-h;
        font-size: 15px;
        line-height: 1.2;
        color: #fff;
        transition: background-color .5s;

        @media (min-width: $bp-lg) {
            font-size: 17px;
        }


        @include placeholder-content {
            color: #fff;
            transition: opacity .2s;
        }


        // hover
        &:hover {

        }

        // focus
        &:focus {
            background-color: rgba(#fff, .45);

            @include placeholder-content {
                opacity: 0;
            }
        }

        // active
        &:active {

        }
    }


    // close btn
    &__close {
        width: 44px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        transition: background-color .5s;

        // icon
        &-i {
            line-height: 0;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }


        // hover
        &:hover {
            .search__close-i svg {
                @media (min-width: $bp-lg) {
                    transition: transform .5s;
                    transform: rotate(360deg);
                }
            }
        }

        // focus
        &:focus {
            background-color: rgba(#fff, .1);
        }

        // active
        &:active {
            background-color: rgba(#fff, .2);
        }
    }


    // hidden
    &.search-hidden {
        transform: translateX(120%);
        transition-duration: .3s;
        transition-timing-function: ease;
    }
}


// fix
html.search-visible {
    .header__box {
        @media (max-width: $bp-sm - 1) {
            border-bottom-color: transparent;
        }
    }
}

// end SEARCH