// =============================================================================
// SOCIAL
// =============================================================================

.social {
    display: flex;
    align-items: center;
    justify-content: center;


    // item
    &__item {
        line-height: 0;
        padding-left: 13px;
        padding-right: 13px;

        @media (min-width: $bp-sm) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    // icon
    &-icon {
        position: relative;
        z-index: 1;
    }

    // link
    &__link {
        display: inline-block;
        min-width: 24px;
        text-align: center;
        line-height: 0;
        position: relative;
        @include expanded-area();
        will-change: transform;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 1px;
            height: 1px;
            border-radius: 50%;
            transition: box-shadow .3s;
        }

        // hover
        &:hover {

            .social__icon {
                animation: swing .5s;
            }
        }

        // focus
        &:focus {

        }

        // active
        &:active {
            &:before {
                box-shadow: 0 0 15px 13px rgba(#439c92, 0.3);

                @media (min-width: $bp-sm) {
                    box-shadow: 0 0 15px 13px rgba(#fff, 0.15);
                }
            }
        }
    }
}

@include swing();

// end SOCIAL