// =============================================================================
// SECTION PROJECTS
// =============================================================================

.section-projects {
    padding-top: 25px;
    padding-bottom: 33px;
    background-color: #fff;

    @media (min-width: $bp-sm) {
        padding-top: 50px;
    }

    @media (min-width: $bp-lg) {
        padding-top: 95px;
        padding-bottom: 55px;
    }


    // head col
    &__head {
        margin-bottom: 30px;

        @media (min-width: $bp-sm) {
            padding-left: 77px;
            margin-bottom: 53px;
        }

        @media (min-width: $bp-lg) {
            padding-top: 8px;
        }


        // heading
        .heading {
            margin-bottom: 20px;

            @media (min-width: $bp-sm) {
                margin-bottom: 36px;
            }
        }
    }

    // gallery col
    &__gallery {

    }
}

// end SECTION PROJECTS