// =============================================================================
// SECTION CONTACT US
// =============================================================================

.section-contact-us {
    background: #f3fafa;
    padding-top: 15px;
    padding-bottom: 30px;


    @media (min-width: $bp-sm) {
        padding-top: 69px;
        padding-bottom: 50px;
    }

    @media (min-width: $bp-lg) {
        padding-top: 64px;
        padding-bottom: 84px;
    }


    // contacts col
    &__contacts {
        margin-bottom: 21px;

        @media (min-width: $bp-sm) {
            padding-left: 68px;
            margin-bottom: 14px;

            @media (max-width: $bp-lg - 1) {
                margin-left: auto;
            }
        }

        @media (min-width: $bp-lg) {
            padding-left: 77px;
            margin-bottom: 0;
        }

        // heading
        .heading {
            margin-bottom: 18px;

            @media (min-width: $bp-sm) {
                margin-bottom: 57px;
            }
        }
    }


    // form col
    &__form {
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $bp-lg) {
            padding-left: 0;
            padding-right: 35px;
        }


        // heading
        .heading {
            margin-bottom: 35px;

            @media (min-width: $bp-sm) {
                @include headingDestroyDecor();
                margin-bottom: 65px;

                @media (max-width: $bp-lg - 1) {
                    margin-left: calc(20% + 56px);
                }
            }
        }

        // contact form
        .contact-form {
            @media (min-width: $bp-sm) and (max-width: $bp-lg - 1) {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}

// end SECTION CONTACT US