<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="description">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>UDG</title>

        <!-- Link preload -->
        <link rel="preload" href="fonts/Acrom/Acrom-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="fonts/Acrom/Acrom-Light.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="images/slides/slide-1.jpg" as="image">

        <!-- Style -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>

        <!-- WRAPPER -->
        <div class="wrapper">

            {% include "layout/_header.html" %}

            <!-- MAIN -->
            <main class="main">

                {% include "section/_section-slider.html" %}

                {% include "section/_section-projects.html" %}

                {% include "section/_section-contact-us.html" %}

            </main>
            <!-- end MAIN -->

            {% include "layout/_footer.html" %}

        </div>
        <!-- end WRAPPER -->


        <!-- Scripts -->
        <script src="js/main.min.js" async></script>
        <script src="js/lozad.min.js"></script>
        <script src="js/rellax.min.js"></script>
        <script src="js/swiper.min.js"></script>


        {% include "layout/_inline-scripts.html" %}

    </body>
</html>
